.login-background {
  --background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 16px;
  color: white;
}

.login-container {
  width: 100%;
  max-width: 360px;
  background: #141414;
  padding: 24px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.6);
  margin: auto;
}

.profile-default-image {
  text-align: center;
  margin-bottom: 24px;

  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    background: #333;
    border: 2px solid #e50914;
  }
}

ion-item {
  --background: transparent;
  --color: white;
  border-radius: 8px;
  margin-bottom: 8px;
  background: #333;
  padding-left: 10px;
}

ion-input {
  --placeholder-color: #aaa;
  color: white;
}

.validation-message {
  color: #e50914;
  font-size: 13px;
  margin: 2px 0 12px 8px;
}

ion-button {
  margin-top: 16px;
  --background: #e50914;
  --color: white;
}
.error-login-message {
  color: #e50914;
  font-size: 14px;
  margin-top: 12px;
  text-align: center;
}
.registro-texto {
  margin-top: 20px;
  text-align: center;
  font-size: 0.9rem;
  color: white;

  a {
    color: #ff3c3c;
    font-weight: bold;
    text-decoration: none;
  }
}