// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --color-claro: #ffffff;
  --color-oscuro: #1e1e1e;
  --texto-claro: #ffffff;
  --texto-oscuro: #000000;
  --espaciado-base: 1rem;
  --espaciado-grande: 2rem;
}

