<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="bg-card-test">
    <ion-card-header>
      <ion-card-subtitle>GÉNEROS DESTACADOS</ion-card-subtitle>
      <ion-card-title>mySpotify</ion-card-title>
    </ion-card-header>

    <ion-card-content>
     <swiper-container 
  pagination="true"
  slides-per-view="1"
  style="height: 100% !important"
>
  <swiper-slide *ngFor="let genre of genres">
    <div class="slide-scroll">
      <div class="slide-content">
        <h2>{{ genre.title }}</h2>
        <img [src]="genre.image" [alt]="genre.title">
        <p>{{ genre.description }}</p>
      </div>
    </div>
  </swiper-slide>
</swiper-container>

      <ion-button  expand="block" (click) ="cambiarTema()">
        Cambiar tema
      </ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Demo de Storage -->
 <div
  class="storage-test ion-padding ion-text-center d-flex flex-column justify-center align-center"
  [style.background-color]="colorTema"
>
  <h3 class="ion-margin-bottom">
    Tema Actual: {{ colorTema === colorOscuro ? 'Oscuro' : 'Claro' }}
  </h3>

  <ion-button (click)="goIntro()">Regresar al intro</ion-button>
</div>

</ion-content>
